extends layout

block content
  h1= title
  p 敬请期待！
  .container-fluid
    .row-fluid
      .span12
        h1.text-success
          strong 餐饮云
        address
          strong Sconfield, Inc
          br
          重庆
          br
          abbr(title='Phone') 电话：(023) 12345678
        p.lead.text-info
          em 各种需求，各种资源，各种渠道，以及各种爱。终将改变你的生活方式，敬请期待！