doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title baidu map
    link(rel='stylesheet', href='/stylesheets/map.css')
    script(type='text/javascript', src='http://api.map.baidu.com/api?key=&v=1.1&services=true')

  body
    #map-content
  script(type='text/javascript', src='/javascripts/map.js')